.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.turn {
    margin-bottom: 50px;
}

.board {
    width: 500px;
    height: 500px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vw - 100px);
    display: flex;
    border: 1px solid black;
}

.column {
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
}

.square {
    border: 1px solid black;
    width: 100%;
    height: calc(100% / 5);
    display: flex;
}

input {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 3rem;
}